<div class="form-container">
  <h1 class="form-title">Agregar Nuevo Producto</h1>

  <form (ngSubmit)="agregarProducto()" class="form-grid">
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" [(ngModel)]="nuevoProducto.nombre" name="nombre" required />
    </div>

    <div class="form-group">
      <label>Descripción</label>
      <textarea [(ngModel)]="nuevoProducto.descripcion" name="description" required></textarea>
    </div>

    <div class="form-group">
      <label>Precio</label>
      <input type="number" [(ngModel)]="nuevoProducto.precio" name="precio" required />
    </div>

    <div class="form-group">
      <label>Cantidad Total</label>
      <input type="number" [(ngModel)]="nuevoProducto.cantidad_total" name="cantidad_total" required />
    </div>

    <div class="form-group">
      <label>Cantidad Disponible</label>
      <input type="number" [(ngModel)]="nuevoProducto.cantidad_disponible" name="cantidad_disponible" required />
    </div>

    <div class="form-group">
      <label>URL de Imagen</label>
      <input type="text" [(ngModel)]="nuevoProducto.imagen_url" name="imagen_url" required />
    </div>

    <button type="submit" class="submit-button">Agregar Producto</button>
  </form>
</div>
