<ion-content class="ion-padding">
  <div class="home-wrapper">
    <div class="header">
      <ion-icon name="menu-outline" class="icon"></ion-icon>
      <ion-icon name="cart-outline" class="icon"></ion-icon>
    </div>

    <div class="greeting">
      <h1 class="title">Hola</h1>
      <p class="subtitle">Bienvenido a EzyRent</p>
    </div>

    <div class="brand-header">
      <h2 class="brand-title">Elegir Categoria</h2>
      <a class="brand-viewall">Ver Todo</a>
    </div>

    <div class="brand-list">
      <button class="brand-button">
        <img src="assets/images/adidas.png" class="brand-logo" />
        Adidas
      </button>
      <button class="brand-button">
        <img src="assets/images/nike.png" class="brand-logo" />
        Nike
      </button>
      <button class="brand-button">Fila</button>
    </div>

    <div class="add-product-wrapper">
      <button class="add-product-button" (click)="agregarProducto()">
      <ion-icon name="add-circle-outline"></ion-icon>
        Agregar Producto
      </button>
    </div>

    <!-- Nuevos productos -->
    <div class="brand-header">
      <h2 class="brand-title">Productos</h2>
      <a class="brand-viewall">Ver Todo</a>
    </div>

    <!-- Productos -->
    <div class="product-grid">
      <div
        *ngFor="let producto of productsFiltrados"
        class="product-card"
        (click)="verDetalleProducto(producto)"
      >
        <div class="image-wrapper">
          <img
            [src]="producto.imagen_url || 'assets/images/no-image.png'"
            [alt]="producto.nombre"
            class="product-image"
            (error)="onImageError($event)"
          />
          <ion-icon
            name="heart-outline"
            class="favorite-icon"
            (click)="toggleFavorite(producto, $event)"
          ></ion-icon>
        </div>

        <div class="product-info">
          <h3 class="product-name">{{ producto.nombre }}</h3>
          <p class="product-price">{{ getPrecioFormateado(producto.precio) }}</p>
          <span
            class="availability"
            [ngClass]="{
              'disponible': producto.cantidad_disponible > 0,
              'agotado': producto.cantidad_disponible <= 0
            }"
          >
            {{ producto.cantidad_disponible > 0 ? 'Disponible' : 'Agotado' }}
          </span>
          <div class="stock-info">
            Cantidad Disponible: {{ producto.cantidad_disponible }}
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
